---
import Card from "../components/Card.astro";
import {
  portraitTutorial as portraittutorial,
  wiiManual as wiimanual,
} from "../utils/images";
import ArrowLink from "../components/ArrowLink.astro";
import { PittIcon } from "../utils/icons";
// @ts-ignore
import { localizePath } from "astro-i18next";
---

<div class="content">
  <div class="grid">
    <Card
      title="The Forgotten Charm of Gaming Manuals"
      description="A faithful recreation of a Nintendo Wii manual layout, containing a think-piece that dives into gaming's shift away from physical media."
      img={wiimanual}
      banner1icon={PittIcon}
      banner1text="Integrating Writing and Design"
      demoBtn="/layouts/wii-manual.pdf"
      externalLink={false}
    />
    <Card
      title="Shooting The Perfect Portrait"
      description="A magazine-style layout that explains best practices for shooting portraits with a DSLR camera, including lighting, composition, and post-processing."
      banner1icon={PittIcon}
      banner1text="Integrating Writing and Design"
      img={portraittutorial}
      demoBtn="/layouts/portrait-tutorial.pdf"
      externalLink={false}
    />
  </div>
</div>
<ArrowLink href={localizePath("/other-work/")} label="Other Work" />
<style>
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .grid {
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 850px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
