---
import Card from "../components/Card.astro";
import { clubmeeting3, clubmeeting6 } from "../utils/images";
import ArrowLink from "../components/ArrowLink.astro";
import { PittIcon } from "../utils/icons";
// @ts-ignore
import { localizePath } from "astro-i18next";
---

<div class="content">
  <div class="grid">
    <Card
      title="Color Theory"
      description="An in-depth presentation exploring how colors influence user interactions with interfaces, covering traditional color theory, RGB color systems, color conventions in UI design, and best practices for accessibility and branding."
      img={clubmeeting3}
      banner1icon={PittIcon}
      banner1text="UX Design Club"
      demoBtn="/presentation/clubmeeting3.pdf"
      externalLink={false}
    />
    <Card
      title="Storyboarding"
      description="A presentation framing storyboards and wireframes as essential UX tools, breaking down how to visualize user journeys, create wireframes for structure and hierarchy, and build effective storyboards that put the user first."
      banner1icon={PittIcon}
      banner1text="UX Design Club"
      img={clubmeeting6}
      demoBtn="/presentation/clubmeeting6.pdf"
      externalLink={false}
    />
  </div>
</div>
<ArrowLink href={localizePath("/other-work/")} label="Other Work" />
<style>
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    gap: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .grid {
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 850px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
