---
import Card from "../components/Card.astro";
import {
  herlthroughtheyears,
  switchReactMenuScreen,
  pokedraft,
  bridgeapp,
} from "../utils/images";
import {
  NextjsIcon,
  MongoDBIcon,
  SvelteIcon,
  TypeScriptIcon,
  ReactIcon,
  NXLogo,
} from "../utils/icons";
---

<div class="content">
  <div class="grid">
    <!-- TODO: Flesh out project description and link to projectLink when ready -->
    <Card
      title="Kingdra Teambuilder"
      description="A full-stack Pokemon Teambuilder app designed for both casual and competitive players, complete with an authentication system and cloud sync."
      img={pokedraft}
      banner1icon={NextjsIcon}
      banner1text={"Next.js"}
      banner2icon={MongoDBIcon}
      banner2text={"MongoDB"}
      viewBtn="https://github.com/liambsulliva/pokemon-teambuilder"
      demoBtn="https://pokedraft.liambsullivan.com/"
      externalLink={false}
      projectLink="projects/kingdra-app"
    />
    <Card
      title="HERL - Through The Years"
      description="A 3D interactive scrapbook documenting Human Engineering Research Labs' 30 year history with the Department of Veteran's Affairs."
      banner1icon={SvelteIcon}
      banner1text={"Svelte"}
      banner2icon={TypeScriptIcon}
      banner2text={"TypeScript"}
      img={herlthroughtheyears}
      viewBtn="https://github.com/liambsulliva/HERL-Digital-Narrative"
      demoBtn="/herl-app"
      projectLink="projects/herl-app"
      externalLink={false}
    />
    <Card
      title="Switch React Menu"
      description="A minimalist home menu for the Nintendo Switch, built with React. Uses react-tela to render React components to a canvas, allowing nx.js to natively render to the Switch screen."
      img={switchReactMenuScreen}
      banner1icon={ReactIcon}
      banner1text={"nx.js"}
      banner1icon={NXLogo}
      banner2icon={ReactIcon}
      banner2text={"React"}
      viewBtn="https://github.com/liambsulliva/switch-react-menu"
      demoBtn="/switch-react-menu"
      projectLink="projects/switch-react-menu"
      externalLink={false}
    />
    <Card
      title="BRIDGE Dashboard"
      description="An interactive dashboard intended for use in BRIDGE, an AI tool that revolutionizes sign language translation by generating ASL signs for STEM concepts."
      banner1icon={SvelteIcon}
      banner1text={"Svelte"}
      banner2icon={TypeScriptIcon}
      banner2text={"TypeScript"}
      img={bridgeapp}
      viewBtn="https://github.com/liambsulliva/bridge-dashboard"
      projectLink="projects/bridge-app"
      externalLink={false}
    />
  </div>
</div>

<style>
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    gap: 2.5rem;
  }
  .grid {
    max-width: 1200px;
    margin: 0 auto;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 850px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
