---
import { Image } from "astro:assets";
import Badge from "./Badge.astro";
import { t } from "i18next";
import Loader from "../components/Loader";

interface ImageProps {
  title: string;
  description: string;
  banner1icon?: string;
  banner1text?: string;
  banner2icon?: string;
  banner2text?: string;
  banner3icon?: string;
  banner3text?: string;
  img: any;
  viewBtn: string;
  demoBtn: string;
}

const {
  title,
  description,
  banner1icon,
  banner1text,
  banner2icon,
  banner2text,
  banner3icon,
  banner3text,
  img,
  viewBtn,
  demoBtn,
} = Astro.props;
---

<div class="flex items-stretch gap-6">
  <div
    class="flex flex-col rounded-xl border border-[#333333] bg-[#151515] hover:bg-[#181818]"
  >
    <a href={demoBtn} aria-label={title} target="_blank">
      <div class="relative p-2 pb-0 sm:p-3">
        <Image
          id="astro-image"
          class="h-auto w-full rounded-t-xl object-cover"
          src={img}
          alt={title}
          loading="eager"
        />
        <div
          id="loading-indicator"
          class="absolute inset-0 flex items-center justify-center text-center text-white"
        >
          <Loader lang={t("misc.lang")} />
        </div>
      </div>

      <div class="mx-4 flex gap-2">
        {banner1icon && <Badge svg={banner1icon} text={banner1text} />}
        {banner2icon && <Badge svg={banner2icon} text={banner2text} />}
        {banner3icon && <Badge svg={banner3icon} text={banner3text} />}
      </div>

      <div class="box-shadow-lg flex flex-col p-4 md:flex-grow">
        <div class="flex flex-row items-center gap-2">
          <h5 class="mb-2 pl-2 text-2xl font-bold tracking-tight text-white">
            {title}
          </h5>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="0.75rem"
            height="0.75rem"
            viewBox="0 0 24 24"
          >
            <path
              fill="none"
              stroke="#d0d0d0"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2.5"
              d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"
            ></path>
          </svg>
        </div>
        <p class="mb-3 flex-grow px-2 font-normal text-[#d0d0d0]">
          {description}
        </p>
      </div>
    </a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Pick up image tag
    const image = document.getElementById("astro-image");
    if (!image) return;

    // Check if the image is already loaded async
    if ((image as HTMLImageElement).complete) {
      removeIndicator(); // If loaded, run removal fn
    } else {
      image.onload = removeIndicator; // Otherwise, add listener
    }
  });

  function removeIndicator() {
    const loadingTag = document.getElementById("loading-indicator");
    if (loadingTag) {
      loadingTag.remove();
    }
  }
</script>
