---
import { Image } from "astro:assets";
import Button from "./CardButton.astro";
import Badge from "./Badge.astro";
import { t } from "i18next";

interface ImageProps {
  title: string;
  description: string;
  banner1icon?: string;
  banner1text?: string;
  banner2icon?: string;
  banner2text?: string;
  banner3icon?: string;
  banner3text?: string;
  img: any;
  viewBtn: string;
  demoBtn: string;
}

const {
  title,
  description,
  banner1icon,
  banner1text,
  banner2icon,
  banner2text,
  banner3icon,
  banner3text,
  img,
  viewBtn,
  demoBtn,
} = Astro.props;
---

<div class="flex items-stretch gap-6">
  <div
    class="flex flex-col rounded-xl border-4 border-[#454545] shadow lg:h-[33rem] lg:w-[22rem]"
  >
    <a href={demoBtn} aria-label={title} target="_blank" class="flex-shrink-0">
      <Image class="h-50 object-cover p-2 pb-0 sm:p-3" src={img} alt={title} />
    </a>
    <div class="mx-3 flex gap-2">
      {banner1icon && <Badge svg={banner1icon} text={banner1text} />}
      {banner2icon && <Badge svg={banner2icon} text={banner2text} />}
      {banner3icon && <Badge svg={banner3icon} text={banner3text} />}
    </div>

    <div class="box-shadow-lg flex flex-col p-4 md:flex-grow">
      <div>
        <h5 class="mb-2 px-2 text-2xl font-bold tracking-tight text-white">
          {title}
        </h5>
      </div>
      <p class="mb-3 flex-grow px-2 font-normal text-gray-400">{description}</p>
      <div class="flex-column flex justify-center gap-2 max-md:mt-3 sm:gap-4">
        <Button
          label={t("projects.viewProject")}
          href={viewBtn}
          target="_blank"
        />
        <Button label={t("projects.liveDemo")} href={demoBtn} target="_blank" />
      </div>
    </div>
  </div>
</div>
