---
import { Image } from "astro:assets";
import Button from "./CardButton.astro";
import { t } from "i18next";

interface ImageProps {
    title: string;
    description: string;
    img: any;
    viewBtn: string;
    demoBtn: string;
}

const { title, description, img, viewBtn, demoBtn } = Astro.props;
---
<div class="max-w-xs shadow rounded-xl border-4 border-[#454545]">
    <a href={demoBtn} aria-label={title} target="_blank">
        <Image class="rounded-t-lg" src={img} alt={title} />
    </a>
    <div class="p-3 box-shadow-lg">
        <div>
            <h5 class="mb-2 px-2 text-2xl font-bold tracking-tight text-white">{title}</h5>
        </div>
        <p class="mb-3 px-2 font-normal text-gray-400">{description}</p>
        <div class="flex flex-column justify-center gap-4">
            <Button label={t("projects.viewProject")} href={viewBtn} target="_blank"/>
            <Button label={t("projects.liveDemo")} href={demoBtn} target="_blank"/>
        </div>
    </div>
</div>
