---
// @ts-ignore
import { localizePath } from "astro-i18next";
import { Image } from "astro:assets";
import Badge from "./Badge.astro";

const {
  title,
  description,
  banner1icon: Banner1Icon,
  banner1text,
  banner2icon: Banner2Icon,
  banner2text,
  banner3icon: Banner3Icon,
  banner3text,
  img,
  demoBtn,
  externalLink,
  projectLink,
} = Astro.props;

const href = projectLink ? localizePath(projectLink) : demoBtn;
const target = projectLink ? undefined : "_blank";
---

<a
  href={href}
  aria-label={title}
  target={target}
  class="group flex cursor-pointer items-stretch gap-6"
>
  <div
    class="relative flex h-full w-full flex-col rounded-xl border border-[#333333] bg-[#151515] group-hover:bg-[#181818]"
  >
    <div class="relative p-2 pb-0 sm:p-3">
      <div class="relative w-full">
        <div
          class="absolute inset-0 animate-pulse rounded-t-xl bg-gradient-to-r from-[#303030] via-[#383838] to-[#303030]"
        >
        </div>
        <Image
          id="astro-image"
          class="relative h-auto w-full rounded-t-xl object-cover opacity-0 transition-opacity duration-300"
          src={img}
          alt={title}
          loading="eager"
          onload="this.style.opacity='1'"
        />
      </div>
    </div>

    <div class="mx-4 flex gap-2">
      {
        Banner1Icon && (
          <Badge text={banner1text}>
            <Banner1Icon />
          </Badge>
        )
      }
      {
        Banner2Icon && (
          <Badge text={banner2text}>
            <Banner2Icon />
          </Badge>
        )
      }
      {
        Banner3Icon && (
          <Badge text={banner3text}>
            <Banner3Icon />
          </Badge>
        )
      }
    </div>

    <div class="box-shadow-lg flex flex-col p-4 md:flex-grow">
      <h5 class="mx-2 mb-2 text-2xl font-bold tracking-tight text-white">
        <span class="inline">
          {title}
          {
            externalLink && (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="0.75rem"
                height="0.75rem"
                viewBox="0 0 24 24"
                class="ml-1 inline-block align-baseline"
              >
                <path
                  fill="none"
                  stroke="#d0d0d0"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2.5"
                  d="M13.5 10.5L21 3m-5 0h5v5m0 6v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5"
                />
              </svg>
            )
          }
        </span>
      </h5>
      <p class="mx-2 mb-3 flex-grow font-normal text-[#d0d0d0]">
        {description}
      </p>
    </div>
  </div>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
  }

  a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
</style>
