---
import Layout from "../../layouts/Layout.astro";
import Background from "../../ui/Background.astro";
import UX from "../../ui/UX.astro";
import Photography from "../../ui/Photography.astro";
import Projects from "../../ui/Projects.astro";
import Blog from "../../ui/Blog.astro";
import Footer from "../../layouts/Footer.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
import SideBar from "../../layouts/SideBar.astro";
import DescriptionTyper from "../../components/DescriptionTyper.astro";
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";

changeLanguage("de");

// Define the navigation items to pass as props
const sidebarItems = [
    { i18nKey: "background.header", href: "#background" },
    { i18nKey: "projects.header", href: "#projects" },
    { i18nKey: "ux.header", href: "#ux" },
    { i18nKey: "photography.header", href: "#photography" },
    { i18nKey: "blog.header", href: "#blog" },
];
// Define phrases to be typed out in the animation
const descriptionPhrases = ["fun", "functional"];
---

<Layout title="Liam Sullivan">
  <main>
    <LanguagePicker />
    <SideBar navItems={sidebarItems} className="right-18 fixed top-72" />
    <div class="header-desktop flex w-full justify-center">
      <Trans i18nKey="header">
        <h1 class="condensed">
          Hi! My name is <span class="text-gradient">Liam</span>
        </h1>
      </Trans>
    </div>
    <div class="header-mobile flex w-full justify-center">
      <Trans i18nKey="headerMobile">
        <h1 class="condensed">
          I'm <span class="text-gradient">Liam</span>
        </h1>
      </Trans>
    </div>
    <DescriptionTyper
      untyped={t("subheader.untyped")}
      typed={t("subheader.typed", { returnObjects: true })}
    />
    <div class="section-divider">
      <div class="first-section">
        <Trans i18nKey={sidebarItems[0].i18nKey}>
          <p class="section-labels" style="text-transform: uppercase;"></p>
        </Trans>
        <div id="background" class="card">
          <Background />
        </div>
      </div>

      <div>
        <Trans i18nKey={sidebarItems[1].i18nKey}>
          <p class="section-labels" style="text-transform: uppercase;"></p>
        </Trans>
        <div id="projects" class="fade-in">
          <Projects />
        </div>
      </div>
      <div>
        <Trans i18nKey={sidebarItems[2].i18nKey}>
          <p class="section-labels" style="text-transform: uppercase;"></p>
        </Trans>
        <div id="ux" class="fade-in">
          <UX />
        </div>
      </div>
      <div>
        <Trans i18nKey={sidebarItems[3].i18nKey}>
          <p class="section-labels" style="text-transform: uppercase;"></p>
        </Trans>
        <div id="photography" class="card">
          <Photography />
        </div>
      </div>
      <div>
        <Trans i18nKey={sidebarItems[4].i18nKey}>
          <p class="section-labels" style="text-transform: uppercase;"></p>
        </Trans>
        <div id="blog" class="card">
          <Blog />
        </div>
      </div>
    </div>
    <Footer iconColor="#e0e0e0" />
  </main>

  <style>
    main {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 1150px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .section-divider {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      gap: 3rem;
    }
    .horizontal-divider {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
    .card {
      opacity: 0;
      background-color: var(--card-color);
      border-radius: 0.75rem;
      border-width: 1px;
      border-color: #333333;
      transition: opacity 0.5s ease-out;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      list-style: none;
      padding: 1rem;
    }
    .fade-in {
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    .fade-in.visible,
    .card.visible {
      opacity: 1;
    }
    .horizontal-divider #skills {
      width: 25%;
      flex-direction: column;
      justify-content: start;
      gap: 0.5rem;
    }
    .horizontal-divider #projects {
      flex-direction: column;
    }
    .horizontal-divider #blog {
      flex-direction: column;
      width: 50%;
      justify-content: space-between;
    }
    .horizontal-divider #photography {
      flex-direction: column;
      align-items: center;
      justify-content: start;
    }
    .card.visible {
      opacity: 1;
    }
    @media (max-width: 1000px) {
      main {
        width: 100%;
      }
      .horizontal-divider #skills {
        width: 100%;
        gap: 0;
      }
      .horizontal-divider #blog {
        width: 100%;
      }
      .section-divider {
        flex-direction: column;
      }
      .horizontal-divider {
        flex-direction: column;
      }
      .card {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
      .first-section {
        margin-top: 1.5rem;
      }
    }
    @media (max-width: 768px) {
      .section-divider {
        padding: 0rem;
        gap: 2rem;
      }
    }
    .section-labels {
      display: none;
    }
    @media screen and (max-width: 1400px) {
      .sidebar {
        display: none;
      }
      .section-labels {
        display: flex;
        font-weight: 700;
        margin-left: 1rem;
      }
    }
    .header-mobile {
      display: none;
    }

    @media (max-width: 695px) {
      .header-desktop {
        display: none;
      }
      .header-mobile {
        display: inline;
      }
    }
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll(".card, .fade-in");

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          }
        });
      });

      elements.forEach((element) => observer.observe(element));
    });
  </script>
</Layout>
